In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/nfl_2017.csv")
df.head()

,Unnamed: 0,3d%,3d%_allowed,TOP,date,first_downs,first_downs_allowed,margin,opp,pass_yards,...,rush_yards,rush_yards_allowed,sacked,sacks,takeaways,team,total_points,total_yards,total_yards_allowed,turnovers
0,0,0.363636,0.333333,30.233333,09/07/2017,26,25,15,New EnglandNE,352,...,185,124,3,3,0,Kansas CityKC,69,537,371,1
1,1,0.333333,0.363636,29.766667,09/07/2017,25,26,-15,Kansas CityKC,247,...,124,185,3,3,1,New EnglandNE,69,371,537,0
2,2,0.400000,0.500000,26.666667,09/10/2017,24,19,-12,DetroitDet,263,...,45,82,1,1,1,ArizonaAri,58,308,367,4
3,3,0.500000,0.400000,33.333333,09/10/2017,19,24,12,ArizonaAri,285,...,82,45,1,1,4,DetroitDet,58,367,308,1
4,4,0.454545,0.384615,30.566667,09/10/2017,18,20,6,ChicagoChi,308,...,64,125,2,4,0,AtlantaAtl,40,372,301,0

In [3]:
df.columns

Index(['Unnamed: 0', '3d%', '3d%_allowed', 'TOP', 'date', 'first_downs',
       'first_downs_allowed', 'margin', 'opp', 'pass_yards',
       'pass_yards_allowed', 'penalty_yards', 'plays', 'points',
       'points_allowed', 'result', 'rush_yards', 'rush_yards_allowed',
       'sacked', 'sacks', 'takeaways', 'team', 'total_points', 'total_yards',
       'total_yards_allowed', 'turnovers'],
      dtype='object')

# Data Preprocessing

In [4]:
X = df.drop(["result", "date", "Unnamed: 0"], axis=1)

In [5]:
X.head()

,3d%,3d%_allowed,TOP,first_downs,first_downs_allowed,margin,opp,pass_yards,pass_yards_allowed,penalty_yards,...,rush_yards,rush_yards_allowed,sacked,sacks,takeaways,team,total_points,total_yards,total_yards_allowed,turnovers
0,0.363636,0.333333,30.233333,26,25,15,New EnglandNE,352,247,139,...,185,124,3,3,0,Kansas CityKC,69,537,371,1
1,0.333333,0.363636,29.766667,25,26,-15,Kansas CityKC,247,352,55,...,124,185,3,3,1,New EnglandNE,69,371,537,0
2,0.400000,0.500000,26.666667,24,19,-12,DetroitDet,263,285,55,...,45,82,1,1,1,ArizonaAri,58,308,367,4
3,0.500000,0.400000,33.333333,19,24,12,ArizonaAri,285,263,100,...,82,45,1,1,4,DetroitDet,58,367,308,1
4,0.454545,0.384615,30.566667,18,20,6,ChicagoChi,308,176,73,...,64,125,2,4,0,AtlantaAtl,40,372,301,0

In [6]:
X = pd.get_dummies(X)

In [7]:
X.head()

,3d%,3d%_allowed,TOP,first_downs,first_downs_allowed,margin,pass_yards,pass_yards_allowed,penalty_yards,plays,...,team_New EnglandNE,team_New OrleansNO,team_OaklandOak,team_PhiladelphiaPhi,team_PittsburghPit,team_San FranciscoSF,team_SeattleSea,team_Tampa BayTB,team_TennesseeTen,team_WashingtonWas
0,0.363636,0.333333,30.233333,26,25,15,352,247,139,65,...,0,0,0,0,0,0,0,0,0,0
1,0.333333,0.363636,29.766667,25,26,-15,247,352,55,74,...,1,0,0,0,0,0,0,0,0,0
2,0.400000,0.500000,26.666667,24,19,-12,263,285,55,67,...,0,0,0,0,0,0,0,0,0,0
3,0.500000,0.400000,33.333333,19,24,12,285,263,100,69,...,0,0,0,0,0,0,0,0,0,0
4,0.454545,0.384615,30.566667,18,20,6,308,176,73,55,...,0,0,0,0,0,0,0,0,0,0

In [8]:
y = df["result"]
print(X.shape, y.shape)

(534, 85) (534,)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

C:\Users\Justin\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

# Create Deep Learning Model

In [10]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=200, activation='relu', input_dim=85))
model.add(Dense(units=200, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [11]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
 - 0s - loss: 0.5229 - acc: 0.7550
Epoch 2/60
 - 0s - loss: 0.1845 - acc: 0.9175
Epoch 3/60
 - 0s - loss: 0.0750 - acc: 0.9875
Epoch 4/60
 - 0s - loss: 0.0332 - acc: 0.9900
Epoch 5/60
 - 0s - loss: 0.0110 - acc: 1.0000
Epoch 6/60
 - 0s - loss: 0.0040 - acc: 1.0000
Epoch 7/60
 - 0s - loss: 0.0023 - acc: 1.0000
Epoch 8/60
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 9/60
 - 0s - loss: 0.0011 - acc: 1.0000
Epoch 10/60
 - 0s - loss: 8.4102e-04 - acc: 1.0000
Epoch 11/60
 - 0s - loss: 7.0022e-04 - acc: 1.0000
Epoch 12/60
 - 0s - loss: 5.9406e-04 - acc: 1.0000
Epoch 13/60
 - 0s - loss: 5.0278e-04 - acc: 1.0000
Epoch 14/60
 - 0s - loss: 4.4083e-04 - acc: 1.0000
Epoch 15/60
 - 0s - loss: 3.8779e-04 - acc: 1.0000
Epoch 16/60
 - 0s - loss: 3.3938e-04 - acc: 1.0000
Epoch 17/60
 - 0s - loss: 3.0598e-04 - acc: 1.0000
Epoch 18/60
 - 0s - loss: 2.7387e-04 - acc: 1.0000
Epoch 19/60
 - 0s - loss: 2.4967e-04 - acc: 1.0000
Epoch 20/60
 - 0s - loss: 2.2508e-04 - acc: 1.0000
Epoch 21/60
 - 0s - loss: 2.0530e-04 - acc: 1.0000
Epoch 22/60
 - 0s - loss: 1.8961e-04 - acc: 1.0000
Epoch 23/60
 - 0s - loss: 1.7352e-04 - acc: 1.0000
Epoch 24/60
 - 0s - loss: 1.5932e-04 - acc: 1.0000
Epoch 25/60
 - 0s - loss: 1.4858e-04 - acc: 1.0000
Epoch 26/60
 - 0s - loss: 1.3702e-04 - acc: 1.0000
Epoch 27/60
 - 0s - loss: 1.2760e-04 - acc: 1.0000
Epoch 28/60
 - 0s - loss: 1.1900e-04 - acc: 1.0000
Epoch 29/60
 - 0s - loss: 1.1182e-04 - acc: 1.0000
Epoch 30/60
 - 0s - loss: 1.0456e-04 - acc: 1.0000
Epoch 31/60
 - 0s - loss: 9.8513e-05 - acc: 1.0000
Epoch 32/60
 - 0s - loss: 9.2966e-05 - acc: 1.0000
Epoch 33/60
 - 0s - loss: 8.7339e-05 - acc: 1.0000
Epoch 34/60
 - 0s - loss: 8.2485e-05 - acc: 1.0000
Epoch 35/60
 - 0s - loss: 7.8018e-05 - acc: 1.0000
Epoch 36/60
 - 0s - loss: 7.4150e-05 - acc: 1.0000
Epoch 37/60
 - 0s - loss: 7.0464e-05 - acc: 1.0000
Epoch 38/60
 - 0s - loss: 6.7070e-05 - acc: 1.0000
Epoch 39/60
 - 0s - loss: 6.3738e-05 - acc: 1.0000
Epoch 40/60
 - 0s - loss: 6.0731e-05 - acc: 1.0000
Epoch 41/60
 - 0s - loss: 5.7973e-05 - acc: 1.0000
Epoch 42/60
 - 0s - loss: 5.5254e-05 - acc: 1.0000
Epoch 43/60
 - 0s - loss: 5.3494e-05 - acc: 1.0000
Epoch 44/60
 - 0s - loss: 5.0669e-05 - acc: 1.0000
Epoch 45/60
 - 0s - loss: 4.8306e-05 - acc: 1.0000
Epoch 46/60
 - 0s - loss: 4.6394e-05 - acc: 1.0000
Epoch 47/60
 - 0s - loss: 4.4354e-05 - acc: 1.0000
Epoch 48/60
 - 0s - loss: 4.2603e-05 - acc: 1.0000
Epoch 49/60
 - 0s - loss: 4.1004e-05 - acc: 1.0000
Epoch 50/60
 - 0s - loss: 3.9451e-05 - acc: 1.0000
Epoch 51/60
 - 0s - loss: 3.7913e-05 - acc: 1.0000
Epoch 52/60
 - 0s - loss: 3.6434e-05 - acc: 1.0000
Epoch 53/60
 - 0s - loss: 3.5188e-05 - acc: 1.0000
Epoch 54/60
 - 0s - loss: 3.3825e-05 - acc: 1.0000
Epoch 55/60
 - 0s - loss: 3.2696e-05 - acc: 1.0000
Epoch 56/60
 - 0s - loss: 3.1582e-05 - acc: 1.0000
Epoch 57/60
 - 0s - loss: 3.0577e-05 - acc: 1.0000
Epoch 58/60
 - 0s - loss: 2.9529e-05 - acc: 1.0000
Epoch 59/60
 - 0s - loss: 2.8572e-05 - acc: 1.0000
Epoch 60/60
 - 0s - loss: 2.7694e-05 - acc: 1.0000

# Quantify our Trained Model

In [12]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)

print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.47475155311942435, Accuracy: 0.8955223880597015

# Make Predictions

In [13]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

C:\Users\Justin\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [14]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Loss' 'Win' 'Win' 'Win' 'Win' 'Win' 'Win' 'Loss' 'Loss' 'Loss']
Actual Labels: ['Loss', 'Win', 'Win', 'Win', 'Win', 'Win', 'Win', 'Win', 'Loss', 'Loss']