In [1]:
from sklearn import tree
import pandas as pd

In [3]:
df = pd.read_csv("data/nfl.csv")
df.head()

,3d%,3d%_allowed,TOP,date,first_downs,first_downs_allowed,ha,margin,opp,pass_yards,...,rush_yards,rush_yards_allowed,sacked,sacks,takeaways,team,total_points,total_yards,total_yards_allowed,turnovers
0,0.307692,0.285714,28.350000,9/10/2009,18,19,away,-3,PIT,234,...,86,36,1,4,3,TEN,3,320,357,2
1,0.285714,0.307692,36.183333,9/10/2009,19,18,home,3,TEN,321,...,36,86,4,1,2,PIT,3,357,320,3
2,0.363636,0.400000,29.116667,9/13/2009,16,19,away,-12,ATL,163,...,96,68,4,2,0,MIA,26,259,281,4
3,0.400000,0.363636,30.883333,9/13/2009,19,16,home,12,MIA,213,...,68,96,2,4,4,ATL,26,281,259,0
4,0.250000,0.333333,26.550000,9/13/2009,10,16,away,5,CIN,227,...,75,86,3,3,2,DEN,19,302,307,0

In [4]:
df.columns

Index(['3d%', '3d%_allowed', 'TOP', 'date', 'first_downs',
       'first_downs_allowed', 'ha', 'margin', 'opp', 'pass_yards',
       'pass_yards_allowed', 'penalty_yards', 'plays', 'points',
       'points_allowed', 'result', 'rush_yards', 'rush_yards_allowed',
       'sacked', 'sacks', 'takeaways', 'team', 'total_points', 'total_yards',
       'total_yards_allowed', 'turnovers'],
      dtype='object')

In [5]:
target = df["result"]
target_names = ["win", "loss"]

In [7]:
data = df.drop(["result", "date", "margin", "points", "points_allowed"], axis=1)
data = pd.get_dummies(data)
feature_names = data.columns
data.head()

,3d%,3d%_allowed,TOP,first_downs,first_downs_allowed,pass_yards,pass_yards_allowed,penalty_yards,plays,rush_yards,...,team_NYG,team_NYJ,team_OAK,team_PHI,team_PIT,team_SEA,team_SFO,team_TBB,team_TEN,team_WAS
0,0.307692,0.285714,28.350000,18,19,234,321,28,61,86,...,0,0,0,0,0,0,0,0,1,0
1,0.285714,0.307692,36.183333,19,18,321,234,60,70,36,...,0,0,0,0,1,0,0,0,0,0
2,0.363636,0.400000,29.116667,16,19,163,213,27,56,96,...,0,0,0,0,0,0,0,0,0,0
3,0.400000,0.363636,30.883333,19,16,213,163,35,65,68,...,0,0,0,0,0,0,0,0,0,0
4,0.250000,0.333333,26.550000,10,16,227,221,39,51,75,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [9]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.72046589018302831

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.82612312811980038

In [11]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.083166510742781322, 'takeaways'),
 (0.082277738384514035, 'turnovers'),
 (0.080001225090098202, 'TOP'),
 (0.066723181403600174, 'rush_yards'),
 (0.064860418611624865, 'rush_yards_allowed'),
 (0.052304854722960668, 'total_yards'),
 (0.049525396430826929, 'total_yards_allowed'),
 (0.044854593998618075, '3d%'),
 (0.043655722411562278, '3d%_allowed'),
 (0.039354514597200255, 'sacks'),
 (0.037189483632583446, 'sacked'),
 (0.034064496206968213, 'plays'),
 (0.032118456294455894, 'pass_yards'),
 (0.031789416942641105, 'penalty_yards'),
 (0.031621275401023601, 'first_downs_allowed'),
 (0.031250894155760441, 'pass_yards_allowed'),
 (0.030820639925983814, 'first_downs'),
 (0.029888036346468083, 'total_points'),
 (0.0070321109396787942, 'ha_home'),
 (0.0061741659995368002, 'ha_away'),
 (0.0047965570967533231, 'team_NEP'),
 (0.0038374474088605729, 'opp_NEP'),
 (0.0025041175849208563, 'opp_CLE'),
 (0.0024721864306157543, 'team_WAS'),
 (0.0024313493880237643, 'opp_BAL'),
 (0.0023048417460422212, 'team_TBB'),
 (0.0022858111874414573, 'opp_JAX'),
 (0.0022732239732716018, 'team_DET'),
 (0.0022492216730992933, 'team_CLE'),
 (0.0022457065467115455, 'opp_DET'),
 (0.0022279167143727241, 'opp_MIA'),
 (0.0022273065573098745, 'team_BAL'),
 (0.0022079014011855084, 'team_CIN'),
 (0.0021990681691174806, 'opp_WAS'),
 (0.0021423602851534666, 'team_IND'),
 (0.0021253347255979702, 'opp_KCC'),
 (0.0021085299752286136, 'opp_GBP'),
 (0.0020744536283640435, 'team_JAX'),
 (0.002010802187472223, 'team_NYJ'),
 (0.0020057499423195542, 'team_PIT'),
 (0.0019627891853953739, 'team_MIA'),
 (0.0019557246852628233, 'opp_NYJ'),
 (0.0019507464330740477, 'team_LAR'),
 (0.0019422037974059045, 'opp_TBB'),
 (0.0019376193734660413, 'opp_IND'),
 (0.0019282167346829477, 'team_KCC'),
 (0.0019134022461606806, 'team_PHI'),
 (0.0018787269037034704, 'opp_DAL'),
 (0.0018737299958889305, 'team_GBP'),
 (0.0018387045284034011, 'opp_PIT'),
 (0.0018182144248988072, 'team_DAL'),
 (0.0018098043124094598, 'team_MIN'),
 (0.0017442100028647251, 'team_LAC'),
 (0.0017422335689999027, 'team_ARI'),
 (0.001741071108872695, 'opp_LAR'),
 (0.0017401242976676518, 'opp_CHI'),
 (0.0017370750404931336, 'team_TEN'),
 (0.0017285016087213679, 'opp_DEN'),
 (0.0017116748212853234, 'opp_CAR'),
 (0.001706620906472426, 'team_CHI'),
 (0.0016988426270579493, 'team_SEA'),
 (0.0016876945998721238, 'opp_SEA'),
 (0.0016661225305308358, 'opp_MIN'),
 (0.0016576631424089622, 'opp_ARI'),
 (0.0016274489376670437, 'team_NYG'),
 (0.0016241258402620667, 'opp_OAK'),
 (0.0016096211470210673, 'team_OAK'),
 (0.0015829121222910656, 'opp_NOS'),
 (0.001564343600863926, 'opp_CIN'),
 (0.001542976383388619, 'team_ATL'),
 (0.0015260819579120926, 'opp_ATL'),
 (0.0015155713491363755, 'team_CAR'),
 (0.0014967542127010355, 'opp_NYG'),
 (0.001491864117686634, 'team_NOS'),
 (0.0014889031374092435, 'opp_TEN'),
 (0.0014705569516345793, 'team_HOU'),
 (0.0014165386750334087, 'opp_PHI'),
 (0.0014038161497735601, 'opp_LAC'),
 (0.0013959222910231482, 'team_BUF'),
 (0.0013876407866174087, 'opp_HOU'),
 (0.0013837288896867822, 'team_DEN'),
 (0.0013805922740695556, 'opp_BUF'),
 (0.0012071126903787535, 'team_SFO'),
 (0.0011087527486959106, 'opp_SFO')]